* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: #6ca0b1;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
    padding-top: 50px;
    padding-bottom: 50px;
}

::-webkit-scrollbar {
    background: #6ca0b1;
}

::-webkit-scrollbar-thumb {
    background: white;
    width: 5px;
    border-radius: 15px;
}

.card {
    position: relative;
    width: 285px;
    height: 360px;
    border-radius: 20px;
    box-shadow: 0 5px 15px 0 rgba(0,0,0,0.35);
    cursor: pointer;
    overflow: hidden;
}

.empty-card {
    width: 285px;
    height: 0;
}

.card-img,
.card-content {
    width: 100%;
    height: 100%;
}

.card-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-content {
    position: relative;
    background: rgba(255,255,255,0.8);
    transform: translateY(-30px);
    transition: all 0.5s cubic-bezier(0.075, 0.02, 0.156, 1);
    z-index: 10;
    transition: all 1s ease-in-out;
}

.card-content::before {
    position: absolute;
    content: "";
    background: rgba(255,255,255,0.8);
    width: 78%;
    height: 24px;
    top: -24px;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
} 

.card-content .plane {
    position: absolute;
    width: 100%;
    bottom: 54.9%;
    filter: drop-shadow(5px 5px 3px rgba(0,0,0,0.4));
}

.flight-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 169px 15px 0;
}

.flight-icon {
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.flight-info {
    display: flex;
    justify-content: center;
    flex-flow: column;
}

.time,
.city {
    font-size: 11px;
    font-weight: 700;
}

.city-code {
    font-size: 25px;
    font-weight: 700;
}

.dash-line {
    border: 1px dashed black;
    margin-top: 10px;
    margin-bottom: 10px;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
}

.travel-cost {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
}

.total {
    font-weight: 800;
    color: red;
    font-size: 13px;
}

.cost {
    font-size: 13px;
    font-weight: 500;
}

.take-off {
    text-decoration: none;
    background: red;
    padding: 8px 15px;
    border-radius: 25px;
    font-size: 12px;
    color: white;
    transition: all 1s ease-in-out;
}

.take-off:hover {
    filter: brightness(85%);
}

.card:hover .card-content {
    transform: translateY(-40px);
}

.card.active .card-content {
    transform: translateY(-290px);
}